$TTL    604800
@       IN      SOA     {{  common.name }}. root.{{ common.name }}. (
                     	2025072800 ; Serial
                        604800     ; Refresh
                        86400      ; Retry
                        2419200    ; Expire
                        04800 )    ; Negative Cache TTL
;
@       IN      NS      ns1.{{ common.name }}.
@	IN	NS	ns2.{{ common.name }}.

ns1	IN	A	{{ common.ip.slave }}
ns2	IN	A	{{ common.ip.slave }}
www	IN	A	{{ common.ip.master  }}
;
