$TTL    604800
@       IN      SOA     jura.com. root.jura.com. (
                     2025072800         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      ns1.jura.com
ns1	IN	A	10.10.8.4
@	IN	NS	NS2.jura.com.
ns2	IN	A	10.10.8.5
